@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
  font-family: 'Inter', sans-serif;
}
.Header {
  .header {
    justify-content: space-between;
    display: flex;
    @media (max-width: 1100px) {
      display: none;
    }
    .leftHeader {
      width: 60vw;
      display: flex;
      align-items: flex-end;
      @media (max-width: 1400px) {
        width: 80vw;
      }
      .nav {
        display: flex;
        div {
          margin-left: 2vw;
        }
      }
      .logo {
        background-image: url('../img/logo.svg');
        width: 197px;
        height: 31px;
        @media (max-width: 1280px) {
          background-image: url('../img/logo\ new.svg');
          width: 187px;
          height: 27px;
        }
      }
      .paymentLink,
      .exchangeLink,
      .aboutLink,
      .contactsLink,
      .originalLink {
        text-decoration: none;
        .navDiv {
          color: #716969;
          font-size: 1vw;
          @media (max-width: 1400px) {
            font-size: 1.2vw;
          }
          @media (max-width: 1100px) {
            font-size: 1.25vw;
          }
        }
        .navDiv:hover {
          color: black;
          transition: 0.3s;
        }
      }
    }

    .rightHeader {
      align-items: flex-end;
      display: flex;
      .wtsRound {
        background-image: url('../img/whatsapp-round.svg');
        width: 32px;
        height: 32px;
        margin-right: 1vw;
      }
      .tgRound {
        background-image: url('../img/telegram-round.svg');
        width: 32px;
        height: 32px;
        margin-right: 1vw;
      }
      .email {
        margin-right: 1vw;
        font-size: 1.1vw;
        color: rgb(113, 105, 105);
      }
      .emailImg {
        background-image: url('../img/telegram-round (1\).svg');
        width: 32px;
        height: 32px;
        margin-right: 1vw;
      }
    }
    .phone {
      font-size: 1.1vw;
      color: rgb(113, 105, 05);
    }
    .phoneImg {
      background-image: url('../img/telegram-round\ \(2\).svg');
      width: 32px;
      height: 32px;
    }
    .imgWidth {
      display: flex;
    }
  }
}