body {
  overflow-x: hidden;
}
.Sale {
  margin-top: 7vw;
  width: 100%;
  .nameSale {
    font-size: 2.08vw;
    @media (max-width: 700px) {
      font-size: 20px;
    }
  }
  .allColumns {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    @media (max-width: 700px) {
      display: flex;
      flex-wrap: wrap-reverse;
      width: 100%;
    }
    .firstColumn {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      @media (max-width: 700px) {
        width: 100%;
      }
      .sneakers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // width: 45vw;
        // flex: 1;
        width: 100%;
        height: 23.5vw;
        border-radius: 0.63vw;
        background-color: rgb(239, 239, 239);
        overflow: hidden;
        background-size: cover;
        @media (max-width: 700px) {
          margin-top: 2vw;
          width: 100%;
          height: 35vw;
          border-radius: 4vw;
        }
        .column {
          margin-left: 1vw;
          @media (max-width: 700px) {
            margin-left: 4vw;
            margin-top: 3vw;
          }
          .nameFirstInFirstColumn {
            color: rgb(43, 41, 41);
            font-size: 1.25vw;
            font-weight: 500;
            line-height: 150%;
            font-weight: bold;
            margin-top: 1.5vw;
            @media (max-width: 700px) {
              font-size: 5vw;
            }
          }
          .priceFirstInFirstColumn {
            background-color: #fff;
            width: 4.53vw;
            height: 1.04vw;
            padding: 0.42vw 1.04vw 0.42vw 1.04vw;
            border-radius: 0.63vw;
            font-weight: bold;
            margin-top: 16.7vw;
            font-size: 0.8vw;
            @media (max-width: 700px) {
              font-size: 3.2vw;
              width: 18vw;
              height: 5vw;
              padding: 1vw 3vw 0.3vw 3.5vw;
              border-radius: 1.5vw;
              margin-top: 12vw;
            }
          }
        }
        .sneaker {
          background-image: url('../../img/sneakerDisp.svg');
          width: 35vw;
          height: 19vw;
          background-size: cover;
          margin-top: 2vw;
          margin-left: 2vw;
          @media (max-width: 700px) {
            width: 50.23vw;
            height: 30.67vw;
            margin-top: 0vw;
            margin-left: 0vw;
          }
        }
      }
      .sneakers:hover {
        background-color: rgb(205, 204, 204);
        transition: 0.3s;
      }
      .delivery {
        margin-top: 1vw;
        width: 100%;
        height: 16.67vw;
        border-radius: 0.63vw;
        background: rgb(255, 240, 186);
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (max-width: 700px) {
          width: 100%;
          height: 35vw;
          border-radius: 4vw;
          margin-top: 2vw;
        }
        .deliveryColumn {
          margin-top: 4vw;
          margin-left: 2vw;
          @media (max-width: 700px) {
            margin-left: 5vw;
            margin-top: 4.5vw;
          }
          .nameDelivery {
            color: rgb(43, 41, 41);
            font-size: 1.67vw;
            font-weight: 600;
            line-height: 110%;
            letter-spacing: 1%;
            @media (max-width: 700px) {
              font-size: 6vw;
              width: 90vw;
            }
          }
          .descriptionDelivery {
            margin-top: 1vw;
            color: rgb(70, 70, 70);
            font-size: 0.83vw;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 1%;
            @media (max-width: 700px) {
              font-size: 3.5vw;
              width: 80vw;
              margin-top: 5vw;
            }
          }
          .butDelivery {
            margin-top: 1.4vw;
            background-color: #fff;
            border: none;
            width: 6.98vw;
            height: 2.5vw;
            border-radius: 0.63vw;
            padding-left: 1.4vw;
            padding-top: 0.7vw;
            color: rgb(43, 41, 41);
            font-size: 1vw;
            font-weight: 500;
            line-height: 110%;
            letter-spacing: 1%;
            display: flex;
            cursor: pointer;
            @media (max-width: 700px) {
              display: none;
            }
          }
          .butDelivery:hover {
            background-color: rgb(244, 242, 242);
            transition: 0.3s;
          }
        }
        .route {
          background-image: url('../../img/square.svg');
          width: 12.76vw;
          height: 12.76vw;
          margin-top: 2vw;
          margin-left: 5vw;
          background-size: cover;
          display: flex;
          @media (max-width: 700px) {
            display: none;
          }
        }
      }
    }
    .secondColumn {
      // flex: 1;
      margin-left: 2%;
      width: 100%;
      @media (max-width: 700px) {
        margin-left: 0vw;
        width: 100%;
      }
      .firstString {
        display: grid;
        grid-template-columns: 45% 55%;
        width: 100%;
        @media (max-width: 700px) {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
        .trousers {
          display: flex;
          width: 92%;
          height: 16.67vw;
          margin-left: 4.2%;
          border-radius: 0.63vw;
          background: rgb(239, 239, 239);
          overflow: hidden;
          @media (max-width: 700px) {
            width: 100%;
            height: 35vw;
            border-radius: 4vw;
            margin-top: 2vw;
            margin-left: 0%;
          }
          .trousersColumn {
            display: flex;
            flex-direction: column;
            margin-left: 2vw;
            @media (max-width: 700px) {
              margin-left: 4vw;
              margin-top: 3vw;
            }
            .nameTrousers {
              color: rgb(43, 41, 41);
              font-size: 1.25vw;
              font-weight: 500;
              line-height: 150%;
              font-weight: bold;
              margin-top: 1vw;
              @media (max-width: 700px) {
                font-size: 5vw;
              }
            }
            .priceTrousers {
              margin-top: 10vw;
              color: rgb(43, 41, 41);
              font-size: 1.04vw;
              font-weight: 500;
              line-height: 150%;
              padding: 0.42vw 1.04vw 0.42vw 1.04vw;
              width: 5.9vw;
              border-radius: 0.63vw;
              background: rgb(255, 255, 255);
              font-weight: bold;
              @media (max-width: 700px) {
                font-size: 3.2vw;
                width: 18vw;
                height: 5vw;
                padding: 0.8vw 3vw;
                border-radius: 1.5vw;
                margin-top: 12vw;
              }
            }
          }
          .bgTrousers {
            background-image: url('../../img/trousers.svg');
            width: 13.23vw;
            height: 16.67vw;
            background-size: cover;
            @media (max-width: 700px) {
              width: 40.23vw;
              height: 49.67vw;
              margin-top: -15vw;
              margin-left: 15vw;
            }
          }
        }
        .trousers:hover {
          background-color: rgb(205, 204, 204);
          transition: 0.3s;
        }
        .tshirt {
          // margin-left: 4.5%;
          width: 100%;
          height: 16.67vw;
          border-radius: 0.63vw;
          background: rgb(239, 239, 239);
          display: flex;
          z-index: -2;
          overflow: hidden;
          @media (max-width: 700px) {
            margin-left: 0vw;
            margin-top: 1vw;
            width: 100%;
            height: 35vw;
            border-radius: 4vw;
            margin-top: 2vw;
          }
          .columnTShirt {
            display: flex;
            flex-direction: column;
            margin-left: 2vw;
            width: 20%;
            @media (max-width: 700px) {
              margin-left: 4vw;
              margin-top: 3vw;
            }
            .nameTShirt {
              color: rgb(43, 41, 41);
              font-size: 1.25vw;
              font-weight: 500;
              line-height: 150%;
              font-weight: bold;
              margin-top: 1vw;
              @media (max-width: 700px) {
                font-size: 5vw;
              }
            }
            .priceTShirt {
              margin-top: 10vw;
              color: rgb(43, 41, 41);
              font-size: 1.04vw;
              font-weight: 500;
              line-height: 150%;
              padding: 0.42vw 1.04vw 0.42vw 1.04vw;
              width: 5.9vw;
              border-radius: 0.63vw;
              background: rgb(255, 255, 255);
              font-weight: bold;
              z-index: 2;
              @media (max-width: 700px) {
                font-size: 3.2vw;
                width: 18vw;
                height: 5vw;
                padding: 0.8vw 3vw;
                border-radius: 1.5vw;
                margin-top: 12vw;
              }
            }
          }
          .bgTShirt {
            background-image: url('../../img/tshirt.svg');
            width: 13vw;
            height: 15vw;
            background-size: cover;
            margin-top: 3vw;
            z-index: 1;
            @media (max-width: 700px) {
              width: 40.23vw;
              height: 49.67vw;
              margin-top: 0vw;
              margin-left: 19vw;
            }
          }
        }
        .tshirt:hover {
          background-color: rgb(205, 204, 204);
          transition: 0.3s;
        }
      }
      .secondString {
        width: 100%;
        .hoody {
          margin-top: 1vw;
          display: flex;
          width: 98%;
          height: 23.33vw;
          border-radius: 0.63vw;
          background: rgb(239, 239, 239);
          z-index: -1;
          overflow: hidden;
          @media (max-width: 700px) {
            width: 100%;
            height: 35vw;
            border-radius: 4vw;
            margin-top: 2vw;
          }
          .HoodyColumn {
            display: flex;
            flex-direction: column;
            margin-left: 2vw;
            z-index: 2;
            @media (max-width: 700px) {
              margin-left: 4vw;
              margin-top: 3vw;
            }
            .nameHoody {
              color: rgb(43, 41, 41);
              font-size: 1.25vw;
              font-weight: 500;
              line-height: 150%;
              font-weight: bold;
              margin-top: 1vw;
              z-index: 2;
              @media (max-width: 700px) {
                font-size: 5vw;
              }
            }
            .priceHoody {
              margin-top: 16.5vw;
              color: rgb(43, 41, 41);
              font-size: 1.04vw;
              font-weight: 500;
              line-height: 150%;
              padding: 0.42vw 1.04vw 0.42vw 1.04vw;
              width: 5.9vw;
              border-radius: 0.63vw;
              background: rgb(255, 255, 255);
              font-weight: bold;
              z-index: 2;
              @media (max-width: 700px) {
                font-size: 3.2vw;
                width: 18vw;
                height: 5vw;
                padding: 0.8vw 3vw;
                border-radius: 1.5vw;
                margin-top: 12vw;
              }
            }
          }
          .bgHoody {
            background-image: url('../../img/hoody.svg');
            // width: 26.3vw;
            width: 100%;
            height: 23vw;
            background-size: cover;
            margin-top: 3vw;
            margin-left: -3vw;
            z-index: 2;
            background-size: cover;
            margin-top: 0.4vw;
            margin-left: 6vw;
            @media (max-width: 700px) {
              width: 40.23vw;
              height: 49.67vw;
              margin-top: 0vw;
              margin-left: 13vw;
            }
          }
        }
        .hoody:hover {
          background-color: rgb(205, 204, 204);
          transition: 0.3s;
        }
      }
    }
  }
}
.Link {
  text-decoration: none;
  color: black;
}
