.Sneakers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2vw;
}
.Sneakers .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1vw;
  margin-left: 1vw;
}
.Sneakers .block .bgImg {
  width: 20.47vw;
  height: 25.77vw;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}
@media (max-width: 1100px) {
  .Sneakers .block .bgImg {
    width: 40vw;
    height: 50vw;
  }
}
.Sneakers .block .bgImg .addInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1vw;
  margin-top: 0.6vw;
}
.Sneakers .block .bgImg .addInfo .heart {
  width: 2.2vw;
  height: 2.2vw;
  opacity: 0%;
  margin-right: 0.26vw;
  background-size: cover;
}
@media (max-width: 1500px) {
  .Sneakers .block .bgImg .addInfo .heart {
    opacity: 100%;
  }
}
@media (max-width: 1100px) {
  .Sneakers .block .bgImg .addInfo .heart {
    width: 5vw;
    height: 5vw;
    margin-right: 1vw;
  }
}
.Sneakers .block .bgImg .addInfo .bag {
  width: 2.2vw;
  height: 2.2vw;
  opacity: 0%;
  background-size: cover;
}
@media (max-width: 1500px) {
  .Sneakers .block .bgImg .addInfo .bag {
    opacity: 100%;
  }
}
@media (max-width: 1100px) {
  .Sneakers .block .bgImg .addInfo .bag {
    width: 5vw;
    height: 5vw;
    margin-right: 1vw;
  }
}
.Sneakers .block .bgImg .bgArea {
  width: 21vw;
  height: 2vw;
  background: #000;
}
.Sneakers .block .bgImg:hover .heart {
  opacity: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.Sneakers .block .bgImg:hover .bag {
  opacity: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}