.productTemplate {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: 61% 39%;
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }
  .firstColumn {
    .firstColumnFirst {
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 800px) {
        display: none;
      }
    }
    .firstColumnSecond {
      display: none;
      @media (max-width: 800px) {
        display: flex;
      }
      .img {
        height: 100vw;
        width: 100px;
        background-size: cover;
        border-radius: 2vw;
      }
    }
  }
  .secondColumn {
    @media (max-width: 800px) {
      margin-top: 2vw;
    }
    .name {
      color: rgb(43, 41, 41);
      font-size: 1.25vw;
      font-weight: 600;
      line-height: 120%;
      text-transform: uppercase;
      @media (max-width: 800px) {
        font-size: 3.5vw;
      }
    }
    .firstLine {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.6vw;
      .firstLineFirst {
        align-items: center;
        display: flex;
        .price {
          color: rgb(255, 79, 79);
          font-size: 1.46vw;
          font-weight: 700;
          line-height: 140%;
          letter-spacing: 1%;
          @media (max-width: 800px) {
            font-size: 3vw;
          }
        }
        .oldPrice {
          color: rgb(113, 105, 105);
          font-size: 0.83vw;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: 0%;
          text-align: left;
          margin-left: 1vw;
          @media (max-width: 800px) {
            font-size: 2vw;
            margin-left: 1.5vw;
          }
        }
      }
    }
    .blockWithSizes {
      margin-top: 1vw;
      @media (max-width: 800px) {
        margin-top: 3vw;
      }
      .nameSize {
        color: rgb(43, 41, 41);
        font-size: 0.83vw;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 1%;
        @media (max-width: 800px) {
          font-size: 2.2vw;
        }
      }
      .allSizes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.5vw;
        @media (max-width: 800px) {
          margin-top: 1.2vw;
        }
        .sizeActive {
          color: rgb(225, 225, 225);
          font-size: 0.73vw;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: 1%;
          border-radius: 0.2vw;
          background: rgb(70, 70, 70);
          padding: 0.3vw 1.8vw;
          justify-content: center;
          text-align: center;
          align-items: center;
          border: none;
          @media (max-width: 800px) {
            font-size: 2.2vw;
            padding: 0.4vw 4vw;
            border-radius: 0.8vw;
          }
        }
        .size {
          color: rgb(70, 70, 70);
          font-size: 0.73vw;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: 1%;
          border-radius: 0.2vw;
          background: rgb(225, 225, 225);
          padding: 0.3vw 1.8vw;
          justify-content: center;
          text-align: center;
          align-items: center;
          border: none;
          @media (max-width: 800px) {
            font-size: 2.2vw;
            padding: 0.4vw 4vw;
            border-radius: 0.8vw;
          }
        }
      }
    }
    .blockWithColor {
      margin-top: 1vw;
      @media (max-width: 800px) {
        margin-top: 3vw;
      }
      .nameColor {
        color: rgb(43, 41, 41);
        font-size: 0.83vw;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 1%;
        @media (max-width: 800px) {
          font-size: 2.2vw;
        }
      }
      .allColors {
        div {
          margin-top: 0.5vw;
          @media (max-width: 800px) {
            margin-top: 1.2vw;
          }
        }
        .brown {
          width: 1.46vw;
          height: 1.46vw;
          background-size: cover;
          background-image: url('../../img/brown.svg');
          @media (max-width: 800px) {
            width: 4vw;
            height: 4vw;
          }
        }
        .blue {
          width: 1.46vw;
          height: 1.46vw;
          background-size: cover;
          background-image: url('../../img/blue.svg');
          @media (max-width: 800px) {
            width: 4vw;
            height: 4vw;
          }
        }
        .green {
          width: 1.46vw;
          height: 1.46vw;
          background-size: cover;
          background-image: url('../../img/green.svg');
          @media (max-width: 800px) {
            width: 4vw;
            height: 4vw;
          }
        }
        .pink {
          width: 1.46vw;
          height: 1.46vw;
          background-size: cover;
          background-image: url('../../img/pink.svg');
          @media (max-width: 800px) {
            width: 4vw;
            height: 4vw;
          }
        }
      }
    }
    .buttonBuy {
      transition: 0.5s;
      border-radius: 0.42vw;
      background: rgb(43, 41, 41);
      width: 100%;
      height: 2.81vw;
      color: white;
      color: rgb(255, 255, 255);
      font-size: 0.83vw;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 1%;
      text-transform: uppercase;
      margin-top: 1vw;
      border: none;
      @media (max-width: 800px) {
        height: 7vw;
        border-radius: 1vw;
        font-size: 2.2vw;
        margin-top: 4vw;
      }
      span {
        margin: 0 0.26vw;
      }
    }
    .buttonBuyActive {
      transition: 0.5s;
      border-radius: 0.42vw;
      background: white;
      border: 1px solid black;
      width: 100%;
      height: 2.81vw;
      color: black;
      font-size: 0.83vw;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 1%;
      text-transform: uppercase;
      margin-top: 1vw;
      @media (max-width: 800px) {
        height: 7vw;
        border-radius: 1vw;
        font-size: 2.2vw;
        margin-top: 4vw;
      }
      span {
        margin: 0 0.26vw;
      }
    }
  }
}
.image {
  width: 25vw;
  height: 32vw;
  background-size: cover;
  margin-right: 0.7vw;
  margin-bottom: 0.7vw;
  border-radius: 0.7vw;
}
#heart {
  background-size: cover;
  width: 2.5vw;
  height: 2.5vw;
  @media (max-width: 800px) {
    width: 6vw;
    height: 6vw;
  }
}
.swiper-pagination-bullet {
  width: 18.5vw;
  height: 0.5vw;
  background: rgb(113, 105, 105);
  opacity: 0.5;
  border-radius: 0.21vw;
  margin-bottom: 1.5vw;
}
.swiper-pagination-bullet-active {
  background: rgb(255, 255, 255);
  opacity: 0.8;
}